$color_1: #fff;
$color_2: #635C73;
$color_3: #8d81ac;
$color_4: #e3dfed;
$color_5: #494654;
$color_6: #848e97;
$color_7: #716E79;
$color_8: #D3D1DA;
$color_9: #a3a3a3;
$color_10: #000;
$color_11: #746074;
$color_12: rgba(255, 255, 255, 0.18);
$color_13: rgba(255, 255, 255, 0.25);
$color_14: #716298;
$color_15: #31384d;
$color_16: #858585;
$color_17: #9a9a9a;
$color_18: #BEBCC3;
$font_family_1: "Source Sans Pro", sans-serif;
$border_color_1: #8d81ac;
$border_color_2: #fff;